<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <title>landing-page</title>
  <link rel="stylesheet" href="css/nicepage.css" media="screen">
  <link rel="stylesheet" href="css/landing-page.css" media="screen">
  <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "SurfMate",
		"sameAs": []
}</script>
  <meta property="og:title" content="landing-page">
  <meta property="og:type" content="website">
  <meta name="theme-color" content="#0d13c3">
</head>

<body data-home-page="landing-page.html" data-home-page-title="landing-page" class="u-body">
  <header class="u-clearfix u-custom-color-14 u-header u-header" id="sec-c8ea">
    <div class="u-align-left u-clearfix u-sheet u-sheet-1">
      <h3 class="u-align-left u-headline u-text u-text-custom-color-15 u-text-1">
        <a href="/">
          <br>
        </a>
      </h3>
      <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse" style="text-transform: uppercase;">
          <a class="u-btn-text u-button-style u-custom-text-color u-custom-text-hover-color u-nav-link" href="#"
            style="padding: 4px 0px; font-size: calc(1em + 8px);">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style="undefined">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a760"></use>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
              id="svg-a760" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;"
              xml:space="preserve" class="u-svg-content">
              <g>
                <rect y="36" width="302" height="30"></rect>
                <rect y="236" width="302" height="30"></rect>
                <rect y="136" width="302" height="30"></rect>
              </g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
            </svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-spacing-25 u-unstyled u-nav-1">
            <li class="u-nav-item"><a
                class="u-button-style u-nav-link u-text-custom-color-15 u-text-hover-custom-color-17"
                href="landing-page.html">Home</a>
            </li>
            <li class="u-nav-item"><a
                class="u-button-style u-nav-link u-text-custom-color-15 u-text-hover-custom-color-17"
                href="landing-page.html#sec-c70c" data-page-id="455759">Description</a>
            </li>
            <li class="u-nav-item"><a
                class="u-button-style u-nav-link u-text-custom-color-15 u-text-hover-custom-color-17"
                href="landing-page.html#sec-305b" data-page-id="455759">About</a>
            </li>
          </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="landing-page.html">Home</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="landing-page.html#sec-c70c"
                    data-page-id="455759">Description</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="landing-page.html#sec-305b"
                    data-page-id="455759">About</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav>
    </div>
  </header>
  <section class="u-clearfix u-custom-color-14 u-section-1" id="sec-9d71">
    <div class="u-clearfix u-sheet u-sheet-1">
      <img class="u-image u-image-round u-image-1" src="images/2159162_small500.png" alt="" data-animation-name="fadeIn"
        data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
      <h1 class="u-text u-text-custom-color-15 u-text-1">FloraCare</h1>
      <h2 class="u-text u-text-custom-color-17 u-text-2">Gardening and beyond </h2>
      <a href="/login"
        class="u-border-2 u-border-custom-color-17 u-btn u-btn-round u-button-style u-hover-custom-color-17 u-none u-radius-20 u-text-custom-color-17 u-text-hover-white u-btn-1">Continue
        to Web-App<span class="u-icon u-icon-1"><svg class="u-svg-content" viewBox="0 0 492.004 492.004" x="0px" y="0px"
            style="width: 1em; height: 1em;">
            <g>
              <g>
                <path
                  d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12    c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028    c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265    c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z">
                </path>
              </g>
            </g>
          </svg><img></span>
      </a>
      <a href="landing-page.html#sec-c70c" data-page-id="455759"
        class="u-border-2 u-border-custom-color-17 u-btn u-btn-round u-button-style u-hover-custom-color-17 u-none u-radius-20 u-text-custom-color-17 u-text-hover-white u-btn-2">
        Learn More&nbsp;&nbsp;<span class="u-icon u-icon-2"><svg class="u-svg-content" viewBox="0 0 451.847 451.847"
            x="0px" y="0px" style="width: 1em; height: 1em;">
            <g>
              <path
                d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751   c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0   c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z">
              </path>
            </g>
          </svg><img></span>
      </a>
      <a href="landing-page.html#sec-305b" data-page-id="455759"
        class="u-border-2 u-border-custom-color-17 u-btn u-btn-round u-button-style u-hover-custom-color-17 u-none u-radius-20 u-text-custom-color-17 u-text-hover-white u-btn-3">
        About Us&nbsp;&nbsp;<span class="u-icon u-icon-3"><svg class="u-svg-content" viewBox="0 0 451.847 451.847"
            x="0px" y="0px" style="width: 1em; height: 1em;">
            <g>
              <path
                d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751   c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0   c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z">
              </path>
            </g>
          </svg><img></span>
      </a>
      <h6 class="u-text u-text-custom-color-8 u-text-3">Your companion for gardening and nature.<br>Our entry to the MLH
        Hackathon "Garden Hacks" 2021
      </h6>
      <img class="u-image u-image-default u-image-2" src="images/FloraCare_iphone12black_portrait1.png" alt=""
        data-image-width="478" data-image-height="904">
      <img class="u-image u-image-default u-image-3" src="images/FloraCare2_iphone12black_portrait.png" alt=""
        data-image-width="1530" data-image-height="2892">
    </div>
  </section>
  <section class="u-clearfix u-custom-color-14 u-section-2" id="sec-c70c">
    <div class="u-clearfix u-sheet u-valign-bottom u-sheet-1">
      <h1 class="u-text u-text-custom-color-15 u-text-1">About&nbsp;</h1>
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout" style="">
          <div class="u-layout-row" style="">
            <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
              <div class="u-container-layout u-valign-bottom-xs u-container-layout-1">
                <img class="u-image u-image-round u-radius-50 u-image-1" src="images/istockphoto-1161321111-612x612.jpg"
                  alt="" data-image-width="612" data-image-height="408">
                <h3 class="u-text u-text-custom-color-17 u-text-2">What is 'FloraCare'?</h3>
                <p class="u-text u-text-custom-color-8 u-text-3">Ever wanted to start gardening but didn't know how to
                  start?<br>Always had a passion for plants but didn't know what to do?<br>
                  <br>FloraCare is your gardening mate for the budding plantsperson in you!
                </p>
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
              <div class="u-container-layout u-container-layout-2">
                <h3 class="u-text u-text-custom-color-17 u-text-4">What does it do?</h3>
                <p class="u-text u-text-custom-color-8 u-text-5">This feature loaded app is all you need for your
                  gardening requirements!<br>From plant classification and disease detection to reminder for watering
                  your plants, this app has it all!<br>We've built an open community of gardening enthusiasts where you
                  can share your kno​wlegde and learn from other people<br>We even have a chatbot to help in various
                  gardening resources<br>See features
                </p>
                <img class="u-image u-image-round u-radius-50 u-image-2"
                  src="images/2f81064758334a1d93b14293d4ceaa989acf380a658eb214cc1d80e91d759a04ed4f531f30209e13bf25ad663cf17e7329b1b8360bd77e40089b76_1280.jpg"
                  alt="" data-image-width="1280" data-image-height="853">
                <h6 class="u-text u-text-custom-color-8 u-text-6">We plan to do build upon this app a lot in future. Our
                  plans include-</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-image u-parallax u-shading u-section-3" id="sec-7b93" data-image-width="1600"
    data-image-height="1067">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h2 class="u-text u-text-custom-color-14 u-text-default u-text-1">Features</h2>
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-size-15 u-size-30-md u-layout-cell-1">
              <div class="u-container-layout u-container-layout-1"><span
                  class="u-custom-color-14 u-icon u-icon-circle u-spacing-10 u-icon-1" data-animation-name="rotateIn"
                  data-animation-duration="1000" data-animation-delay="0" data-animation-direction=""><svg
                    class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style="">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-e2de"></use>
                  </svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-e2de">
                    <g>
                      <path
                        d="m512 110c0-13.815-9.39-25.473-22.121-28.943 1.364-3.424 2.121-7.152 2.121-11.057 0-13.815-9.39-25.473-22.121-28.943 1.364-3.424 2.121-7.152 2.121-11.057 0-16.542-13.458-30-30-30h-107.8c-22.395 0-45.021 5.338-65.473 15.456l-9.088 4.544h-109.639c-3.904 0-7.633.758-11.057 2.121-3.47-12.731-15.128-22.121-28.943-22.121s-25.473 9.39-28.943 22.121c-3.424-1.363-7.153-2.121-11.057-2.121-13.815 0-25.473 9.39-28.943 22.121-3.424-1.363-7.153-2.121-11.057-2.121-16.542 0-30 13.458-30 30v107.8c0 42.151 18.136 69.698 20 74.561v109.639c0 3.904.758 7.633 2.121 11.057-12.731 3.47-22.121 15.128-22.121 28.943s9.39 25.473 22.121 28.943c-1.363 3.424-2.121 7.153-2.121 11.057 0 13.815 9.39 25.473 22.121 28.943-1.363 3.424-2.121 7.153-2.121 11.057 0 16.542 13.458 30 30 30h24.099c5.523 0 10-4.477 10-10s-4.477-10-10-10h-24.099c-5.514 0-10-4.486-10-10s4.486-10 10-10h20c5.523 0 10-4.477 10-10s-4.477-10-10-10c-13.99 0-26.01 0-40 0-5.514 0-10-4.486-10-10s4.486-10 10-10h40c5.523 0 10-4.477 10-10s-4.477-10-10-10c-9.1 0-44.228 0-60 0-5.514 0-10-4.486-10-10s4.486-10 10-10h60c5.523 0 10-4.477 10-10s-4.477-10-10-10h-40c-5.514 0-10-4.486-10-10s4.486-10 10-10h100c5.523 0 10-4.477 10-10v-10h25.2c23.908 0 45.305 13.198 55.841 34.443 1.689 3.404 5.16 5.557 8.959 5.557h82v90c0 3.506.61 6.87 1.72 10h-63.72c-1.553 0-3.084.361-4.472 1.056l-11.163 5.581c-17.67 8.742-37.23 13.363-56.565 13.363h-13.898c-5.523 0-10 4.477-10 10s4.477 10 10 10h13.898c22.395 0 45.021-5.338 65.472-15.456l9.089-4.544h89.639c3.904 0 7.633-.758 11.057-2.121 3.471 12.731 15.128 22.121 28.943 22.121s25.473-9.39 28.943-22.121c3.425 1.363 7.153 2.121 11.057 2.121 13.815 0 25.473-9.39 28.943-22.121 3.425 1.363 7.153 2.121 11.057 2.121 16.542 0 30-13.458 30-30v-120c0-1.52-.349-2.954-.955-4.244-1.948-16.892-6.858-33.581-14.501-49.028l-4.544-9.088v-109.64c0-3.904-.758-7.633-2.121-11.057 12.732-3.47 22.121-15.127 22.121-28.943zm-372 222h-90c-3.506 0-6.87.61-10 1.72v-83.72c0-1.552-.361-3.083-1.056-4.472-2.273-5.806-18.944-30.319-18.944-67.728v-107.8c0-5.514 4.486-10 10-10s10 4.486 10 10v20c0 5.523 4.477 10 10 10s10-4.477 10-10v-40c0-5.514 4.486-10 10-10s10 4.486 10 10v40c0 5.523 4.477 10 10 10s10-4.477 10-10c0-9.1 0-44.228 0-60 0-5.514 4.486-10 10-10s10 4.486 10 10v60c0 5.523 4.477 10 10 10s10-4.477 10-10v-40c0-5.514 4.486-10 10-10s10 4.486 10 10v100c0 5.523 4.477 10 10 10h10v25.2c0 23.545-13.52 45.464-34.443 55.841-3.404 1.689-5.557 5.16-5.557 8.959zm45.2-20h-25.2v-56.064c24.826-14.754 40-41.313 40-70.736v-25.2h56.065c14.753 24.826 41.311 40 70.735 40h25.2v56.064c-24.826 14.754-40 41.312-40 70.736v25.2h-56.064c-14.754-24.825-41.312-40-70.736-40zm306.8 130c0 5.514-4.486 10-10 10s-10-4.486-10-10v-20c0-5.523-4.478-10-10-10s-10 4.477-10 10v40c0 5.514-4.486 10-10 10s-10-4.486-10-10v-40c0-5.523-4.478-10-10-10s-10 4.477-10 10v60c0 5.514-4.486 10-10 10s-10-4.486-10-10v-60c0-5.523-4.478-10-10-10s-10 4.477-10 10v40c0 5.514-4.486 10-10 10s-10-4.486-10-10v-100c0-5.523-4.478-10-10-10h-10v-25.2c0-23.908 13.198-45.305 34.443-55.841 3.404-1.688 5.557-5.159 5.557-8.959v-82h90c3.506 0 6.87-.61 10-1.72v83.72c0 1.552.361 3.083 1.056 4.472l5.581 11.163c8.742 17.67 13.363 37.23 13.363 56.565zm-10-322h-60c-5.522 0-10 4.477-10 10s4.478 10 10 10h40c5.514 0 10 4.486 10 10s-4.486 10-10 10h-100c-5.522 0-10 4.477-10 10v10h-25.2c-23.546 0-45.465-13.52-55.841-34.443-1.688-3.403-5.159-5.557-8.959-5.557h-82v-90c0-3.506-.61-6.87-1.72-10h83.72c1.553 0 3.084-.361 4.473-1.056 5.799-2.269 30.317-18.944 67.727-18.944h107.8c5.514 0 10 4.486 10 10s-4.486 10-10 10h-20c-5.522 0-10 4.477-10 10s4.478 10 10 10h40c5.514 0 10 4.486 10 10s-4.486 10-10 10h-40c-5.522 0-10 4.477-10 10s4.478 10 10 10h60c5.514 0 10 4.486 10 10s-4.486 10-10 10z">
                      </path>
                      <circle cx="140" cy="499" r="10"></circle>
                    </g>
                  </svg></span>
                <h4 class="u-text u-text-custom-color-17 u-text-default u-text-2">Community of garderners </h4>
                <p class="u-text u-text-grey-40 u-text-3">Users can share their knowledge of growing their plants and
                  learn from other people's knowledge and build a community.</p>
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-size-15 u-size-30-md u-layout-cell-2">
              <div class="u-container-layout u-valign-top u-container-layout-2"><span
                  class="u-custom-color-14 u-icon u-icon-circle u-spacing-10 u-text-custom-color-17 u-icon-2"
                  data-animation-name="rotateIn" data-animation-duration="1000" data-animation-delay="0"
                  data-animation-direction=""><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice"
                    viewBox="0 0 512 512" style="">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-524d"></use>
                  </svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-524d">
                    <path
                      d="m77.659 111.553a36.826 36.826 0 0 0 13-2.36 36.934 36.934 0 0 1 0-69.137 36.93 36.93 0 1 0 -13 71.5z"
                      fill="#d4e1f4"></path>
                    <path
                      d="m42 450.416a34.291 34.291 0 0 1 21.286-31.728 34.286 34.286 0 1 0 0 63.456 34.291 34.291 0 0 1 -21.286-31.728z"
                      fill="#d4e1f4"></path>
                    <g fill="#1ae5be">
                      <path d="m27.64 338.514h163.812v12h-163.812z"
                        transform="matrix(.483 -.875 .875 .483 -245.001 273.899)"></path>
                      <path d="m-106.867 257.865h312.152v12h-312.152z"
                        transform="matrix(.086 -.996 .996 .086 -217.916 290.145)"></path>
                      <path d="m109.293 68.542 169.17 131.407 7.361-9.476-166.68-129.473h125.856v-12h-137v12h7.152z">
                      </path>
                      <path d="m239.005 228.421h12v158.657h-12z"
                        transform="matrix(.52 -.854 .854 .52 -145.263 357.025)"></path>
                      <path d="m299.918 398.653-218.482 56.427 3.001 11.619 222.331-56.569z"></path>
                      <path d="m349.125 336-35.181-101.739-11.345 3.91 33.088 96z"></path>
                      <path d="m271.235 218.449-90.666 20.539 2.651 11.703 94.28-21.691z"></path>
                      <path d="m114.895 102.41h12v139.766h-12z" transform="matrix(.915 -.404 .404 .915 -59.312 63.546)">
                      </path>
                      <path d="m348.18 293.393h151.121v12h-151.121z"
                        transform="matrix(.599 -.801 .801 .599 -69.875 459.192)"></path>
                      <path d="m288.395 90.634h12v97.709h-12z" transform="matrix(.995 -.099 .099 .995 -12.319 29.706)">
                      </path>
                      <path d="m379.938 26.391h12v193.811h-12z" transform="matrix(.656 -.755 .755 .656 39.802 333.867)">
                      </path>
                      <path d="m323.267 206.042h118.775v12h-118.775z" transform="matrix(1 -.002 .002 1 -.423 .765)">
                      </path>
                      <path
                        d="m79.575 207.737c.156.013.311.018.466.018a6 6 0 0 0 5.976-5.541l.5-6.544a6 6 0 0 0 -11.965-.919l-.5 6.544a6 6 0 0 0 5.523 6.442z">
                      </path>
                      <path
                        d="m69.476 311.207a6.094 6.094 0 0 0 .616.031 6 6 0 0 0 5.962-5.392l8.113-79.575a6 6 0 0 0 -11.939-1.216l-8.113 79.574a6 6 0 0 0 5.361 6.578z">
                      </path>
                    </g>
                    <path
                      d="m77.659 117.553a42.929 42.929 0 1 0 -42.929-42.928 42.978 42.978 0 0 0 42.929 42.928zm0-73.857a30.929 30.929 0 1 1 -30.929 30.929 30.964 30.964 0 0 1 30.929-30.925z"
                      fill="#0635c9"></path>
                    <path
                      d="m90.571 450.416a40.286 40.286 0 1 0 -40.285 40.284 40.332 40.332 0 0 0 40.285-40.284zm-40.285 28.284a28.286 28.286 0 1 1 28.285-28.286 28.318 28.318 0 0 1 -28.285 28.286z"
                      fill="#0635c9"></path>
                    <path
                      d="m280.306 98.223a38.463 38.463 0 1 0 -38.462-38.462 38.506 38.506 0 0 0 38.462 38.462zm0-64.925a26.463 26.463 0 1 1 -26.462 26.463 26.492 26.492 0 0 1 26.462-26.461z"
                      fill="#0635c9"></path>
                    <path
                      d="m159.3 281.227a28.6 28.6 0 1 0 -28.6-28.6 28.63 28.63 0 0 0 28.6 28.6zm0-45.193a16.6 16.6 0 1 1 -16.6 16.6 16.616 16.616 0 0 1 16.6-16.6z"
                      fill="#0635c9"></path>
                    <path
                      d="m293.131 380.065a48.229 48.229 0 1 0 48.228-48.229 48.283 48.283 0 0 0 -48.228 48.229zm48.228-36.229a36.229 36.229 0 1 1 -36.228 36.229 36.27 36.27 0 0 1 36.228-36.229z"
                      fill="#0635c9"></path>
                    <path
                      d="m469.021 178.944a32.979 32.979 0 1 0 32.979 32.979 33.017 33.017 0 0 0 -32.979-32.979zm0 53.958a20.979 20.979 0 1 1 20.979-20.979 21 21 0 0 1 -20.979 20.977z"
                      fill="#0635c9"></path>
                    <path
                      d="m269.156 212.161a30.056 30.056 0 1 0 30.056-30.061 30.09 30.09 0 0 0 -30.056 30.061zm48.112 0a18.056 18.056 0 1 1 -18.056-18.061 18.076 18.076 0 0 1 18.056 18.061z"
                      fill="#0635c9"></path>
                  </svg></span>
                <h4 class="u-text u-text-custom-color-17 u-text-4">Plant Type and Disease Classification</h4>
                <p class="u-text u-text-grey-40 u-text-5">Simply capture an image of a plant and know the family of it
                  and if it's diseased or not. Among 12 families of flora and 7 types of diseases.​&nbsp;</p>
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-size-15 u-size-30-md u-layout-cell-3">
              <div class="u-container-layout u-valign-top u-container-layout-3"><span
                  class="u-custom-color-14 u-icon u-icon-circle u-spacing-10 u-icon-3" data-animation-name="rotateIn"
                  data-animation-duration="1000" data-animation-delay="0" data-animation-direction=""><svg
                    class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style="">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-eaa3"></use>
                  </svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-eaa3">
                    <g>
                      <path
                        d="m437.066 74.981c-5.857-5.858-15.355-5.858-21.213 0s-5.858 15.355 0 21.213c42.656 42.655 66.147 99.409 66.147 159.806s-23.491 117.151-66.147 159.806c-5.858 5.857-5.858 15.355 0 21.213 5.868 5.868 15.365 5.848 21.213 0 48.322-48.321 74.934-112.608 74.934-181.019s-26.612-132.698-74.934-181.019z">
                      </path>
                      <path
                        d="m391.646 120.4c-5.858-5.857-15.356-5.857-21.213 0-5.857 5.858-5.857 15.355 0 21.213 30.533 30.531 47.349 71.155 47.349 114.387s-16.815 83.855-47.349 114.387c-5.858 5.858-5.858 15.355 0 21.213 5.856 5.856 15.353 5.859 21.213 0 36.2-36.198 56.136-84.355 56.136-135.601s-19.937-99.402-56.136-135.599z">
                      </path>
                      <path
                        d="m346.193 165.852c-5.858-5.857-15.356-5.857-21.213 0-5.858 5.858-5.857 15.356 0 21.213 18.4 18.398 28.533 42.88 28.533 68.934s-10.133 50.536-28.533 68.934c-5.858 5.857-5.858 15.355 0 21.213 5.857 5.857 15.354 5.859 21.213 0 24.066-24.065 37.32-56.08 37.32-90.148s-13.254-66.081-37.32-90.146z">
                      </path>
                      <path
                        d="m30 256c0-60.397 23.491-117.151 66.147-159.806 5.858-5.857 5.858-15.355 0-21.213-5.857-5.857-15.354-5.858-21.213 0-48.322 48.321-74.934 112.608-74.934 181.019s26.612 132.698 74.934 181.019c5.856 5.857 15.355 5.859 21.213 0 5.858-5.858 5.858-15.355 0-21.213-42.656-42.655-66.147-99.409-66.147-159.806z">
                      </path>
                      <path
                        d="m94.219 256c0-43.232 16.815-83.855 47.349-114.387 5.858-5.858 5.858-15.355 0-21.213-5.857-5.858-15.355-5.857-21.213 0-36.2 36.197-56.136 84.355-56.136 135.6s19.936 99.403 56.136 135.601c5.866 5.865 15.363 5.85 21.213 0 5.857-5.858 5.857-15.355 0-21.213-30.534-30.532-47.349-71.156-47.349-114.388z">
                      </path>
                      <path
                        d="m187.021 165.853c-5.857-5.858-15.355-5.858-21.213 0-24.066 24.065-37.32 56.08-37.32 90.148s13.254 66.083 37.32 90.148c5.866 5.865 15.363 5.85 21.213 0 5.858-5.858 5.857-15.356 0-21.213-18.4-18.398-28.533-42.88-28.533-68.934s10.133-50.536 28.533-68.934c5.857-5.859 5.857-15.357 0-21.215z">
                      </path>
                      <path
                        d="m256 192.8c-34.849 0-63.2 28.352-63.2 63.2s28.352 63.2 63.2 63.2 63.2-28.352 63.2-63.2-28.351-63.2-63.2-63.2zm0 96.4c-18.307 0-33.2-14.894-33.2-33.2s14.894-33.2 33.2-33.2 33.2 14.894 33.2 33.2-14.893 33.2-33.2 33.2z">
                      </path>
                    </g>
                  </svg></span>
                <h4 class="u-text u-text-custom-color-17 u-text-6">Reminder to water your plants</h4>
                <p class="u-text u-text-grey-40 u-text-7">Get notifications on your device to water your plant using an
                  arduino sensor to give your plant the care it needs.​&nbsp;&nbsp;</p>
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-size-15 u-size-30-md u-layout-cell-4">
              <div class="u-container-layout u-valign-top u-container-layout-4"><span
                  class="u-custom-color-14 u-icon u-icon-circle u-spacing-9 u-text-grey-90 u-icon-4"
                  data-animation-name="bounceIn" data-animation-duration="1000" data-animation-delay="0"
                  data-animation-direction=""><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice"
                    viewBox="0 0 256 256" style="">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9f61"></use>
                  </svg><svg class="u-svg-content" viewBox="0 0 256 256" id="svg-9f61">
                    <path
                      d="M124.5,174.5c5.174-14.228-5.181-21.9-12.49-25.221a7.1,7.1,0,0,1-3.269-9.936,18.39,18.39,0,0,0,2.412-11.176,37.221,37.221,0,0,1-6.735-4.532,26.842,26.842,0,0,1-10.9-3.482c1.467,5.3,1.27,12.056-5.021,18.347-13,13,14,22,14,33,0,10.737-16.2,12.9,3.487,33.454a25.5,25.5,0,0,1,5.389,8.245c1.63,4.149,2.495,9.724-.718,15.254a1.626,1.626,0,0,0,1.926,2.352,4.1,4.1,0,0,0,1.6-1C148.024,195.657,112.58,207.281,124.5,174.5Z"
                      fill="#5b5d60"></path>
                    <path
                      d="M205.548,247.312l-3.525-75.486a14.774,14.774,0,0,0-11.006-13.559l-24.058-6.156a38.976,38.976,0,0,1-44.785,37.953c2.208,14.353,18.771,12.738-7.986,39.745a4.1,4.1,0,0,1-1.6,1,1.626,1.626,0,0,1-1.926-2.352c3.213-5.53,2.348-11.1.718-15.254a25.5,25.5,0,0,0-5.389-8.245C86.3,184.4,102.5,182.237,102.5,171.5c0-6.639-9.834-12.551-14.774-19.052l-22.743,5.819a14.774,14.774,0,0,0-11.006,13.559l-3.525,75.486a5.821,5.821,0,0,0,5.757,6.188h18.4a5.615,5.615,0,0,0,5.614-5.5l.522-26.594h0a60.868,60.868,0,0,1,6.1,15.409A90.689,90.689,0,0,1,89.167,253.5h77.666a90.689,90.689,0,0,1,2.322-16.691,60.868,60.868,0,0,1,6.1-15.409h0L175.774,248a5.615,5.615,0,0,0,5.614,5.5h18.4A5.82,5.82,0,0,0,205.548,247.312Z"
                      fill="#dae6f1"></path>
                    <path
                      d="M128,190.5a39.127,39.127,0,0,1-5.826-.436c1.516,9.858,9.8,12.188,6.173,21.427a46.963,46.963,0,0,0,45.559-57.6l-6.947-1.778A38.98,38.98,0,0,1,128,190.5Z"
                      fill="#edf4fc"></path>
                    <path
                      d="M107.709,206.929q-.815-1.024-1.722-1.975c-14.5-15.137-9.534-20.3-5.91-26.259a38.861,38.861,0,0,1-10.953-24.557c-.5-.559-.967-1.122-1.4-1.69l-5.632,1.441a46.922,46.922,0,0,0,25.615,53.04Z"
                      fill="#edf4fc"></path>
                    <path
                      d="M202.023,171.826a14.774,14.774,0,0,0-11.006-13.559l-17.111-4.378a46.914,46.914,0,0,1-2.45,28.826c3.991,13.15,13.719,22.44,25.1,22.44a20.94,20.94,0,0,0,6.971-1.205Z"
                      fill="#edf4fc"></path>
                    <path
                      d="M80.873,164.5a46.972,46.972,0,0,1,1.221-10.611l-17.111,4.378a14.774,14.774,0,0,0-11.006,13.559l-1.5,32.124a20.94,20.94,0,0,0,6.971,1.205c11.377,0,21.106-9.291,25.1-22.441A46.732,46.732,0,0,1,80.873,164.5Z"
                      fill="#edf4fc"></path>
                    <path
                      d="M128,132.336c20.333,0,36.969-16.914,36.969-37.586V73.711c-.079-2.235-1.451-17.263-24-23.476a92.288,92.288,0,0,1-9.764-3.248,8.6,8.6,0,0,0-6.408,0,92.288,92.288,0,0,1-9.764,3.248c-22.545,6.211-23.921,21.234-24,23.474V94.75C91.031,115.422,107.667,132.334,128,132.336Z"
                      fill="#f9d0b4"></path>
                    <path
                      d="M128,27.274A61.708,61.708,0,0,1,164.969,39.5c0-12.484-11.577-20.842-24-24.265a91.067,91.067,0,0,1-10.345-3.483,6.915,6.915,0,0,0-5.246,0,91.067,91.067,0,0,1-10.345,3.483c-12.461,3.433-24,11.893-24,24.353A61.782,61.782,0,0,1,128,27.274Z"
                      fill="#f5c84c"></path>
                    <path
                      d="M115.032,15.235a90.859,90.859,0,0,0,10.345-3.484,6.915,6.915,0,0,1,5.246,0,90.859,90.859,0,0,0,10.345,3.484,44.882,44.882,0,0,1,12.139,5.288,26.5,26.5,0,0,0-50.224.03A44.5,44.5,0,0,1,115.032,15.235Z"
                      fill="#5b5d60"></path>
                    <path
                      d="M176.5,58.5c0-10-11.531-19-11.531-19a61.828,61.828,0,0,0-73.938.088c0-.031,0-.061,0-.092l0,0s-12.087,9-12.087,19c0,19-19,26,0,49,10.859,13.145,20.514,15.773,25.474,16.135A37.8,37.8,0,0,1,91.031,94.75V73.709c.08-2.24,1.456-17.263,24-23.474a92.06,92.06,0,0,0,9.764-3.248,8.6,8.6,0,0,1,6.408,0,92.06,92.06,0,0,0,9.764,3.248c22.55,6.213,23.922,21.241,24,23.476V94.75a37.793,37.793,0,0,1-13.323,28.829c5.117-.535,14.429-3.46,24.854-16.079C195.5,84.5,176.5,77.5,176.5,58.5Z"
                      fill="#5b5d60"></path>
                    <path
                      d="M202.023,171.826a14.774,14.774,0,0,0-11.006-13.559l-17.111-4.378a46.611,46.611,0,0,1,.539,18.543,27.005,27.005,0,0,0,28.111,10.8Z"
                      fill="#f9d0b4"></path>
                    <path
                      d="M82.094,153.889l-17.111,4.378a14.774,14.774,0,0,0-11.006,13.559l-.533,11.41a27.005,27.005,0,0,0,28.106-10.8,46.79,46.79,0,0,1,.544-18.55Z"
                      fill="#f9d0b4"></path>
                    <path
                      d="M100.077,178.7A13.506,13.506,0,0,0,102.5,171.5c0-6.06-8.19-11.513-13.376-17.362A38.861,38.861,0,0,0,100.077,178.7Z"
                      fill="#f5c84c"></path>
                    <path
                      d="M165.471,151.73a29.8,29.8,0,0,1-3.481-1.115c-.879-.343-1.443-.588-2.433-1.072C157.037,162.568,143.872,172.5,128,172.5c-.958,0-1.9-.043-2.839-.114-.185.69-.4,1.391-.661,2.114-2.494,6.858-2.911,11.768-2.326,15.564a38.976,38.976,0,0,0,44.785-37.953Z"
                      fill="#f5c84c"></path>
                    <path
                      d="M173,77.882c-2.411-1.392-5.437-1.038-8.031.634V94.75c0,.393-.018.781-.03,1.171,3.5.706,7.6-1.411,9.916-5.421C177.616,85.717,176.786,80.068,173,77.882Z"
                      fill="#f9d0b4"></path>
                    <path
                      d="M91.031,94.75V78.516c-2.594-1.672-5.62-2.026-8.031-.634-3.786,2.186-4.616,7.835-1.855,12.618,2.316,4.01,6.418,6.127,9.916,5.421C91.049,95.531,91.031,95.143,91.031,94.75Z"
                      fill="#f9d0b4"></path>
                    <path
                      d="M112.01,149.279c6.938,3.153,16.61,10.229,13.151,23.107h0c.936.071,1.881.114,2.839.114,15.872,0,29.037-9.932,31.557-22.957l.007,0c-1.624-.794-4.4-2.233-11.613-5.821a5.326,5.326,0,0,1-2.918-4.77V128.07a36.11,36.11,0,0,1-33.881.091,18.626,18.626,0,0,1-.185,5.1v5.7a5.326,5.326,0,0,1-2.918,4.77l-.142.071A7.146,7.146,0,0,0,112.01,149.279Z"
                      fill="#f9d0b4"></path>
                    <path
                      d="M179.941,5.487h-2.33V3.157a3.158,3.158,0,0,0-6.315,0v2.33h-2.329a3.158,3.158,0,0,0,0,6.315H171.3v2.33a3.158,3.158,0,0,0,6.315,0V11.8h2.33a3.158,3.158,0,0,0,0-6.315Z"
                      fill="#70d6f9"></path>
                    <path
                      d="M70.705,123.654a11.1,11.1,0,0,1-8.9-8.717.2.2,0,0,0-.4,0,11.1,11.1,0,0,1-8.9,8.717.2.2,0,0,0,0,.386,11.1,11.1,0,0,1,8.9,8.717.2.2,0,0,0,.4,0,11.1,11.1,0,0,1,8.9-8.717A.2.2,0,0,0,70.705,123.654Z"
                      fill="#f5c84c"></path>
                    <circle cx="184.662" cy="33.377" r="3.377" fill="#ef4460"></circle>
                    <circle cx="46.662" cy="146.377" r="3.377" fill="#70d6f9"></circle>
                    <circle cx="216.662" cy="169.377" r="3.377" fill="#f5c84c"></circle>
                    <circle cx="35.662" cy="227.377" r="3.377" fill="#87d147"></circle>
                    <path
                      d="M127.511,115.207a23.924,23.924,0,0,1-14.786-5.36,2.5,2.5,0,0,1,3.082-3.936,18.072,18.072,0,0,0,23.394,0,2.5,2.5,0,1,1,3.082,3.936A23.907,23.907,0,0,1,127.511,115.207Z">
                    </path>
                    <path
                      d="M139.18,86.669a2.5,2.5,0,0,1-2.08-3.884,7.062,7.062,0,0,1,11.8,0,2.5,2.5,0,0,1-4.163,2.77,2.062,2.062,0,0,0-3.469,0A2.5,2.5,0,0,1,139.18,86.669Z">
                    </path>
                    <path
                      d="M116.822,86.672a2.5,2.5,0,0,1-2.085-1.117,2.061,2.061,0,0,0-3.471,0,2.5,2.5,0,0,1-4.164-2.768,7.062,7.062,0,0,1,11.8,0,2.5,2.5,0,0,1-2.081,3.883Z">
                    </path>
                    <path
                      d="M112.053,233.394a4.131,4.131,0,0,1-3.556-6.2c2.253-3.877,2.44-8.279.552-13.082a22.9,22.9,0,0,0-4.868-7.43c-13.782-14.391-11.444-21-6.956-28.132,1.489-2.368,2.775-4.414,2.775-7.051,0-3.295-3.964-7.07-7.8-10.72-4.754-4.526-9.669-9.207-9.74-15-.038-3.134,1.4-6.179,4.27-9.051,4.565-4.565,6.039-9.919,4.38-15.912a2.5,2.5,0,0,1,3.614-2.858,24.368,24.368,0,0,0,9.874,3.18,2.5,2.5,0,0,1,1.433.585,34.615,34.615,0,0,0,6.281,4.225,2.5,2.5,0,0,1,1.326,1.967,20.86,20.86,0,0,1-2.73,12.668,4.437,4.437,0,0,0-.36,3.607,4.657,4.657,0,0,0,2.5,2.81c18.678,8.486,15.876,22.653,13.8,28.35-4.759,13.086-1.589,18.014,1.477,22.78,5.557,8.636,6.149,14.75-12.363,33.434a6.6,6.6,0,0,1-2.588,1.609A4.2,4.2,0,0,1,112.053,233.394Zm-15.306-109c.306,5.864-1.889,11.279-6.479,15.87-1.911,1.91-2.829,3.694-2.806,5.454.045,3.683,4.184,7.625,8.188,11.437,4.6,4.376,9.35,8.9,9.35,14.341,0,4.078-1.882,7.071-3.543,9.713-3.265,5.192-5.844,9.294,6.335,22.012a27.868,27.868,0,0,1,5.911,9.06,20.235,20.235,0,0,1,.8,13.626c15.429-16.052,13.09-19.684,9.623-25.072-3.2-4.971-7.577-11.777-1.972-27.193h0c2.422-6.661,2.45-15.9-11.174-22.09a9.673,9.673,0,0,1-5.185-5.827,9.51,9.51,0,0,1,.781-7.628,15.949,15.949,0,0,0,2.171-8.405,39.743,39.743,0,0,1-5.325-3.643A27.455,27.455,0,0,1,96.747,124.4Z">
                    </path>
                    <path
                      d="M128,47.228a2.5,2.5,0,0,1-2.5-2.5V36.272a2.5,2.5,0,1,1,5,0v8.456A2.5,2.5,0,0,1,128,47.228Z">
                    </path>
                    <path
                      d="M199.791,256h-18.4a8.159,8.159,0,0,1-8.115-7.955l-.3-15.471a48.372,48.372,0,0,0-1.38,4.8,87.892,87.892,0,0,0-2.26,16.228,2.5,2.5,0,0,1-2.5,2.4H89.167a2.5,2.5,0,0,1-2.5-2.4,87.892,87.892,0,0,0-2.26-16.228,48.45,48.45,0,0,0-1.38-4.8l-.3,15.47A8.159,8.159,0,0,1,74.612,256h-18.4a8.149,8.149,0,0,1-5.97-2.578,8.45,8.45,0,0,1-2.284-6.246l3.524-75.466a17.2,17.2,0,0,1,12.884-15.864l22.742-5.821a2.5,2.5,0,0,1,2.611.91,57.149,57.149,0,0,0,5.934,6.222c4.6,4.377,9.35,8.9,9.35,14.343,0,4.078-1.882,7.071-3.543,9.713-3.265,5.192-5.844,9.294,6.335,22.012a27.868,27.868,0,0,1,5.911,9.06,20.229,20.229,0,0,1,.8,13.626c15.431-16.052,13.092-19.688,9.625-25.078a25.518,25.518,0,0,1-4.421-10.389,2.5,2.5,0,0,1,2.842-2.852,36.478,36.478,0,0,0,41.914-35.519,2.5,2.5,0,0,1,3.12-2.384l24.059,6.157a17.2,17.2,0,0,1,12.882,15.843l3.526,75.5a8.451,8.451,0,0,1-2.285,6.235A8.149,8.149,0,0,1,199.791,256Zm-24.539-37.1a2.5,2.5,0,0,1,2.5,2.452l.521,26.594A3.132,3.132,0,0,0,181.388,251h18.4a3.193,3.193,0,0,0,2.339-1.016,3.385,3.385,0,0,0,.923-2.535v-.02l-3.526-75.487a12.213,12.213,0,0,0-9.128-11.253l-21.107-5.4A41.677,41.677,0,0,1,128,193q-1.246,0-2.5-.075a27.787,27.787,0,0,0,2.829,5.2c5.067,7.88,7.181,13.711-12.366,33.439a6.6,6.6,0,0,1-2.588,1.609A4.127,4.127,0,0,1,108.5,227.2c2.253-3.877,2.44-8.279.552-13.082a22.9,22.9,0,0,0-4.868-7.43c-13.782-14.391-11.444-21-6.956-28.132,1.489-2.368,2.775-4.414,2.775-7.051,0-3.3-3.964-7.071-7.8-10.722a76.047,76.047,0,0,1-5.411-5.511L65.6,160.689a12.22,12.22,0,0,0-9.13,11.274l-3.525,75.466a3.4,3.4,0,0,0,.922,2.555A3.193,3.193,0,0,0,56.209,251h18.4a3.132,3.132,0,0,0,3.115-3.055l.521-26.593a2.5,2.5,0,0,1,4.693-1.152,62.916,62.916,0,0,1,6.339,16.045A94.657,94.657,0,0,1,91.532,251h72.936a94.657,94.657,0,0,1,2.252-14.755,62.916,62.916,0,0,1,6.339-16.045A2.5,2.5,0,0,1,175.252,218.9Z">
                    </path>
                    <path
                      d="M128.347,213.991a2.5,2.5,0,0,1-2.327-3.413c1.654-4.215.316-6.3-1.9-9.745a25.544,25.544,0,0,1-4.418-10.389,2.5,2.5,0,0,1,2.842-2.852,36.478,36.478,0,0,0,41.914-35.519,2.5,2.5,0,0,1,3.12-2.384l6.947,1.778a2.5,2.5,0,0,1,1.816,1.858,49.465,49.465,0,0,1-47.978,60.666ZM125.5,192.925a27.848,27.848,0,0,0,2.827,5.2c1.954,3.042,3.962,6.168,3.317,10.715a44.448,44.448,0,0,0,40.142-52.918l-2.5-.639A41.677,41.677,0,0,1,128,193Q126.754,193,125.5,192.925Z">
                    </path>
                    <path
                      d="M107.708,209.429a2.5,2.5,0,0,1-1.074-.243,49.424,49.424,0,0,1-26.976-55.861,2.5,2.5,0,0,1,1.816-1.858l5.631-1.442a2.5,2.5,0,0,1,2.612.911c.368.485.786.99,1.277,1.544a2.5,2.5,0,0,1,.624,1.492,36.48,36.48,0,0,0,10.25,22.98,2.5,2.5,0,0,1,.344,3.042c-.248.408-.5.813-.756,1.217-3.265,5.192-5.844,9.295,6.336,22.014.646.674,1.276,1.4,1.873,2.147a2.5,2.5,0,0,1-1.957,4.057Zm-23.494-53.5a44.261,44.261,0,0,0,11.14,38.87c-3.1-6.658-1.276-11.153,1.591-15.8a41.5,41.5,0,0,1-10.238-23.707Z">
                    </path>
                    <path
                      d="M196.552,207.655c-12.235,0-23.025-9.5-27.489-24.215a2.511,2.511,0,0,1,.09-1.7,44.094,44.094,0,0,0,3.474-17.242,44.634,44.634,0,0,0-1.156-10.048,2.5,2.5,0,0,1,3.055-2.985l17.112,4.379a17.2,17.2,0,0,1,12.882,15.843v.021l1.5,32.123a2.5,2.5,0,0,1-1.667,2.475A23.459,23.459,0,0,1,196.552,207.655Zm-22.44-24.827c3.947,12.075,12.682,19.827,22.44,19.827a18.231,18.231,0,0,0,4.384-.538l-1.41-30.163a12.216,12.216,0,0,0-9.129-11.265l-13.3-3.405a49.4,49.4,0,0,1-2.981,25.544Z">
                    </path>
                    <path
                      d="M59.448,207.655a23.459,23.459,0,0,1-7.8-1.347,2.5,2.5,0,0,1-1.667-2.475l1.5-32.123a17.2,17.2,0,0,1,12.883-15.864l17.112-4.379a2.5,2.5,0,0,1,3.055,2.985A44.634,44.634,0,0,0,83.373,164.5a44.106,44.106,0,0,0,3.475,17.242,2.514,2.514,0,0,1,.089,1.7C82.474,198.15,71.684,207.655,59.448,207.655Zm-4.384-5.538a18.231,18.231,0,0,0,4.384.538c9.759,0,18.494-7.753,22.44-19.829a49.389,49.389,0,0,1-2.981-25.542l-13.3,3.405a12.22,12.22,0,0,0-9.13,11.274Z">
                    </path>
                    <path
                      d="M128,134.836h0c-21.764,0-39.469-17.984-39.469-40.086V73.709A23.313,23.313,0,0,1,92.52,62.085c4.405-6.682,11.755-11.48,21.848-14.26a90.1,90.1,0,0,0,9.5-3.159,11.082,11.082,0,0,1,8.266,0,90.1,90.1,0,0,0,9.5,3.159c10.095,2.78,17.446,7.58,21.85,14.264a23.314,23.314,0,0,1,3.985,11.533l0,21.128C167.469,116.852,149.764,134.834,128,134.836Zm0-85.968a6.106,6.106,0,0,0-2.275.441A95.625,95.625,0,0,1,115.7,52.646c-8.89,2.449-15.283,6.55-19,12.191a18.386,18.386,0,0,0-3.165,8.96l0,20.953c0,19.345,15.463,35.084,34.469,35.086S162.469,114.1,162.469,94.75V73.711a18.425,18.425,0,0,0-3.161-8.871c-3.719-5.642-10.113-9.745-19-12.194a95.625,95.625,0,0,1-10.029-3.337A6.106,6.106,0,0,0,128,48.868Z">
                    </path>
                    <path
                      d="M91.031,42.088a2.5,2.5,0,0,1-2.5-2.5c0-9.5,6.787-21.516,25.837-26.763a88.981,88.981,0,0,0,10.061-3.387,9.362,9.362,0,0,1,7.143,0,89.1,89.1,0,0,0,10.06,3.386c12.49,3.442,25.837,12.256,25.837,26.675a2.5,2.5,0,0,1-3.991,2.007,59.323,59.323,0,0,0-70.956.088A2.5,2.5,0,0,1,91.031,42.088ZM128,13.732a4.429,4.429,0,0,0-1.674.332,94.115,94.115,0,0,1-10.63,3.582c-12.72,3.5-19.067,10.208-21.256,16.619A63.849,63.849,0,0,1,128,24.773h0a63.973,63.973,0,0,1,33.628,9.451c-2.83-8.572-12.336-14.1-21.324-16.578a94.232,94.232,0,0,1-10.629-3.581A4.42,4.42,0,0,0,128,13.732Z">
                    </path>
                    <path
                      d="M102.883,23.053a2.5,2.5,0,0,1-2.369-3.3,29,29,0,0,1,54.962-.033,2.5,2.5,0,0,1-3.714,2.907,42.51,42.51,0,0,0-11.457-4.984,94.183,94.183,0,0,1-10.63-3.581,4.395,4.395,0,0,0-3.349,0,94.115,94.115,0,0,1-10.63,3.582h0a42.175,42.175,0,0,0-11.462,5.01A2.489,2.489,0,0,1,102.883,23.053ZM128,5a23.976,23.976,0,0,0-19.329,9.767,50.494,50.494,0,0,1,5.7-1.942h0a88.981,88.981,0,0,0,10.061-3.387,9.362,9.362,0,0,1,7.143,0,89.1,89.1,0,0,0,10.06,3.386,50.951,50.951,0,0,1,5.69,1.934A23.983,23.983,0,0,0,128,5Z">
                    </path>
                    <path
                      d="M104.419,126.135c-.061,0-.122,0-.184-.007-5.224-.382-15.708-3.1-27.218-17.036-13.33-16.136-9.045-25.652-4.9-34.854,2.128-4.726,4.329-9.614,4.329-15.738,0-10.956,12.174-20.313,13.061-20.98a2.493,2.493,0,0,1,.564-.328,64.32,64.32,0,0,1,76.391.3c.557.435,12.54,9.914,12.54,21.007,0,6.124,2.2,11.012,4.329,15.738,4.144,9.2,8.429,18.718-4.9,34.854-10.614,12.847-20.282,16.321-26.522,16.972a2.5,2.5,0,0,1-1.879-4.391A35.273,35.273,0,0,0,162.469,94.75V73.711a18.425,18.425,0,0,0-3.161-8.871c-3.719-5.642-10.113-9.745-19-12.194a95.31,95.31,0,0,1-10.029-3.338,6.1,6.1,0,0,0-4.551,0A95.213,95.213,0,0,1,115.7,52.646c-8.89,2.449-15.283,6.55-19,12.191a18.383,18.383,0,0,0-3.165,8.96l0,20.953a35.268,35.268,0,0,0,12.5,26.977,2.5,2.5,0,0,1-1.614,4.408ZM92.072,41.861C89.991,43.54,81.444,50.9,81.444,58.5c0,7.2-2.534,12.826-4.77,17.792-3.994,8.871-7.151,15.879,4.2,29.616,5.851,7.082,11.267,10.926,15.668,12.986A40.283,40.283,0,0,1,88.531,94.75V73.709A23.313,23.313,0,0,1,92.52,62.085c4.405-6.682,11.755-11.48,21.848-14.26a89.942,89.942,0,0,0,9.5-3.16,11.09,11.09,0,0,1,8.265,0,90.116,90.116,0,0,0,9.5,3.16c10.095,2.78,17.446,7.58,21.85,14.264a23.314,23.314,0,0,1,3.985,11.533l0,21.128a40.282,40.282,0,0,1-7.687,23.7c4.215-2.14,9.318-5.92,14.79-12.544,11.349-13.737,8.193-20.745,4.2-29.616C176.534,71.326,174,65.7,174,58.5s-7.63-14.734-10.569-17.029a59.325,59.325,0,0,0-70.909.124A2.5,2.5,0,0,1,92.072,41.861Z">
                    </path>
                    <path
                      d="M196.552,186.414a29.591,29.591,0,0,1-24.15-12.542,2.5,2.5,0,0,1-.422-1.86,44.112,44.112,0,0,0-.509-17.56,2.5,2.5,0,0,1,3.055-2.985l17.112,4.379a17.2,17.2,0,0,1,12.882,15.843v.021l.532,11.41a2.5,2.5,0,0,1-1.944,2.554A29.669,29.669,0,0,1,196.552,186.414Zm-19.473-14.621a24.487,24.487,0,0,0,22.878,9.381l-.431-9.221a12.216,12.216,0,0,0-9.129-11.264l-13.3-3.405a48.912,48.912,0,0,1-.014,14.509Z">
                    </path>
                    <path
                      d="M59.448,186.414a29.669,29.669,0,0,1-6.557-.74,2.5,2.5,0,0,1-1.944-2.554l.532-11.41a17.2,17.2,0,0,1,12.883-15.864l17.112-4.379a2.5,2.5,0,0,1,3.055,2.985,44.3,44.3,0,0,0-.514,17.568,2.507,2.507,0,0,1-.422,1.861A29.593,29.593,0,0,1,59.448,186.414Zm-3.405-5.24A24.489,24.489,0,0,0,78.916,171.8a49.189,49.189,0,0,1-.009-14.517l-13.3,3.405a12.22,12.22,0,0,0-9.13,11.274Z">
                    </path>
                    <path
                      d="M100.076,181.2a2.5,2.5,0,0,1-1.792-.757A41.483,41.483,0,0,1,86.63,154.306,2.5,2.5,0,0,1,91,152.48c1.378,1.554,3.045,3.142,4.656,4.677,4.6,4.378,9.349,8.905,9.349,14.343a15.914,15.914,0,0,1-2.788,8.494,2.5,2.5,0,0,1-1.855,1.186A2.645,2.645,0,0,1,100.076,181.2Zm-7.16-19.738a36.508,36.508,0,0,0,6.593,12.819A8.15,8.15,0,0,0,100,171.5C100,168.408,96.512,164.9,92.916,161.457Z">
                    </path>
                    <path
                      d="M128,193a41.961,41.961,0,0,1-6.2-.463,2.5,2.5,0,0,1-2.1-2.093c-.732-4.761.068-10.256,2.447-16.8.215-.591.411-1.215.6-1.909a2.509,2.509,0,0,1,2.6-1.843c.951.071,1.818.106,2.651.106,14.517,0,26.756-8.8,29.1-20.932a2.5,2.5,0,0,1,3.552-1.771c.884.432,1.387.654,2.244.99a27.947,27.947,0,0,0,3.191,1.022l1.488.38a2.5,2.5,0,0,1,1.88,2.46A41.656,41.656,0,0,1,128,193Zm-3.538-5.172c1.178.114,2.362.172,3.538.172a36.647,36.647,0,0,0,36.377-33.973,32.5,32.5,0,0,1-3.123-1.016C157.187,165.92,143.718,175,128,175q-.5,0-1.02-.015c-.042.124-.086.247-.13.369C125.084,180.207,124.3,184.311,124.462,187.828Z">
                    </path>
                    <path
                      d="M166.28,98.554a9.343,9.343,0,0,1-1.835-.181,2.5,2.5,0,0,1-2-2.526l.01-.3c.009-.265.019-.528.019-.794V78.516a2.5,2.5,0,0,1,1.146-2.1c3.506-2.258,7.481-2.517,10.635-.7h0c4.974,2.871,6.216,10.063,2.77,16.032C174.6,95.947,170.373,98.554,166.28,98.554Zm1.189-18.547V93.42a8.6,8.6,0,0,0,5.22-4.17c2.033-3.521,1.6-7.734-.939-9.2h0A4.759,4.759,0,0,0,167.469,80.007Z">
                    </path>
                    <path
                      d="M89.72,98.554c-4.094,0-8.316-2.607-10.74-6.8-3.446-5.969-2.2-13.161,2.77-16.032,3.155-1.821,7.13-1.561,10.635.7a2.5,2.5,0,0,1,1.146,2.1V94.75c0,.266.01.529.019.794l.01.3a2.5,2.5,0,0,1-2,2.526A9.351,9.351,0,0,1,89.72,98.554ZM86.3,79.521a4.052,4.052,0,0,0-2.048.527c-2.542,1.468-2.972,5.681-.939,9.2a8.6,8.6,0,0,0,5.22,4.17V80.007A5.741,5.741,0,0,0,86.3,79.521Z">
                    </path>
                    <path
                      d="M128,175c-.959,0-1.949-.039-3.026-.12a2.5,2.5,0,0,1-2.227-3.142c3.089-11.5-6.05-17.583-11.771-20.182h0a9.607,9.607,0,0,1-5.541-7.4,2.5,2.5,0,0,1,1.337-2.587l.117-.058a2.862,2.862,0,0,0,1.579-2.556v-5.7a2.445,2.445,0,0,1,.038-.436,16.144,16.144,0,0,0,.16-4.414,2.5,2.5,0,0,1,3.649-2.461,33.607,33.607,0,0,0,31.544-.086,2.5,2.5,0,0,1,3.675,2.207v10.886a2.844,2.844,0,0,0,1.538,2.535c4.319,2.147,7.05,3.527,8.9,4.458,1.209.612,2.032,1.028,2.675,1.342l.035.017a2.5,2.5,0,0,1,1.309,2.848C159.12,164.56,144.854,175,128,175Zm-14.955-28c11.053,5.022,16.438,13.292,15.143,23,13.7-.071,25.33-7.98,28.481-19.1l-.958-.484c-1.839-.929-4.561-2.3-8.872-4.447a7.783,7.783,0,0,1-4.306-7.009v-6.964A38.821,38.821,0,0,1,128,134.836a38.227,38.227,0,0,1-14.35-2.768c-.046.471-.106.939-.183,1.4v5.484a7.8,7.8,0,0,1-2.647,5.9A4.61,4.61,0,0,0,113.045,147Z">
                    </path>
                  </svg></span>
                <h4 class="u-text u-text-custom-color-17 u-text-default u-text-8">Demeter- your g​uide cum companion
                </h4>
                <p class="u-text u-text-grey-40 u-text-9">Goddess Demeter is your virtual companion to help in your
                  gardening journey by providing necessary resources and tools. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-custom-color-14 u-section-4" id="sec-8d26">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h2 class="u-text u-text-custom-color-15 u-text-1">What's next​ for this app?</h2>
      <p class="u-text u-text-custom-color-17 u-text-2">We have a lot of plans to build upon this app in
        future.&nbsp;Our goals include: <br>
      </p>
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout" style="">
          <div class="u-layout-row" style="">
            <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
              <div class="u-container-layout u-valign-top u-container-layout-1">
                <ul class="u-custom-list u-text u-text-custom-color-8 u-text-3">
                  <li>
                    <div class="u-list-icon u-text-custom-color-17 u-list-icon-1">
                      <svg class="u-svg-content" viewBox="0 0 448.011 448.011" id="svg-9c6e">
                        <path
                          d="m438.731 209.463-416-192c-6.624-3.008-14.528-1.216-19.136 4.48-4.64 5.696-4.8 13.792-.384 19.648l136.8 182.4-136.8 182.4c-4.416 5.856-4.256 13.984.352 19.648 3.104 3.872 7.744 5.952 12.448 5.952 2.272 0 4.544-.48 6.688-1.472l416-192c5.696-2.624 9.312-8.288 9.312-14.528s-3.616-11.904-9.28-14.528z"
                          fill="currentColor"></path>
                      </svg>
                    </div>Make an android app, the prototype ca​n be viewed here.
                  </li>
                  <li>
                    <div class="u-list-icon u-text-custom-color-17 u-list-icon-2">
                      <svg class="u-svg-content" viewBox="0 0 448.011 448.011" id="svg-9c6e">
                        <path
                          d="m438.731 209.463-416-192c-6.624-3.008-14.528-1.216-19.136 4.48-4.64 5.696-4.8 13.792-.384 19.648l136.8 182.4-136.8 182.4c-4.416 5.856-4.256 13.984.352 19.648 3.104 3.872 7.744 5.952 12.448 5.952 2.272 0 4.544-.48 6.688-1.472l416-192c5.696-2.624 9.312-8.288 9.312-14.528s-3.616-11.904-9.28-14.528z"
                          fill="currentColor"></path>
                      </svg>
                    </div>Optimizing loading time our app
                  </li>
                  <li>
                    <div class="u-list-icon u-text-custom-color-17 u-list-icon-1">
                      <svg class="u-svg-content" viewBox="0 0 448.011 448.011" id="svg-9c6e">
                        <path
                          d="m438.731 209.463-416-192c-6.624-3.008-14.528-1.216-19.136 4.48-4.64 5.696-4.8 13.792-.384 19.648l136.8 182.4-136.8 182.4c-4.416 5.856-4.256 13.984.352 19.648 3.104 3.872 7.744 5.952 12.448 5.952 2.272 0 4.544-.48 6.688-1.472l416-192c5.696-2.624 9.312-8.288 9.312-14.528s-3.616-11.904-9.28-14.528z"
                          fill="currentColor"></path>
                      </svg>
                    </div>Integrate the soil moisture sensor and add notifications for better utility&nbsp;
                  </li>
                  <li>
                    <div class="u-list-icon u-text-custom-color-17 u-list-icon-1">
                      <svg class="u-svg-content" viewBox="0 0 448.011 448.011" id="svg-9c6e">
                        <path
                          d="m438.731 209.463-416-192c-6.624-3.008-14.528-1.216-19.136 4.48-4.64 5.696-4.8 13.792-.384 19.648l136.8 182.4-136.8 182.4c-4.416 5.856-4.256 13.984.352 19.648 3.104 3.872 7.744 5.952 12.448 5.952 2.272 0 4.544-.48 6.688-1.472l416-192c5.696-2.624 9.312-8.288 9.312-14.528s-3.616-11.904-9.28-14.528z"
                          fill="currentColor"></path>
                      </svg>
                    </div>Add more labels for plant types in the to recognize more flora and return more and relevant
                    information
                  </li>
                  <li>
                    <div class="u-list-icon u-text-custom-color-17 u-list-icon-5">
                      <svg class="u-svg-content" viewBox="0 0 448.011 448.011" id="svg-9c6e">
                        <path
                          d="m438.731 209.463-416-192c-6.624-3.008-14.528-1.216-19.136 4.48-4.64 5.696-4.8 13.792-.384 19.648l136.8 182.4-136.8 182.4c-4.416 5.856-4.256 13.984.352 19.648 3.104 3.872 7.744 5.952 12.448 5.952 2.272 0 4.544-.48 6.688-1.472l416-192c5.696-2.624 9.312-8.288 9.312-14.528s-3.616-11.904-9.28-14.528z"
                          fill="currentColor"></path>
                      </svg>
                    </div>Add more complex functions to our chatbot more powerful such as adding suitable APIs for
                    respective tasks&nbsp; &nbsp;&nbsp;
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
              <div class="u-container-layout u-container-layout-2">
                <ul class="u-custom-list u-text u-text-custom-color-8 u-text-4">
                  <li>
                    <div class="u-list-icon u-text-custom-color-17 u-list-icon-6">
                      <svg class="u-svg-content" viewBox="0 0 448.011 448.011" id="svg-b955">
                        <path
                          d="m438.731 209.463-416-192c-6.624-3.008-14.528-1.216-19.136 4.48-4.64 5.696-4.8 13.792-.384 19.648l136.8 182.4-136.8 182.4c-4.416 5.856-4.256 13.984.352 19.648 3.104 3.872 7.744 5.952 12.448 5.952 2.272 0 4.544-.48 6.688-1.472l416-192c5.696-2.624 9.312-8.288 9.312-14.528s-3.616-11.904-9.28-14.528z"
                          fill="currentColor"></path>
                      </svg>
                    </div>Make necesarry UI/UX changes<br>
                  </li>
                  <li>
                    <div class="u-list-icon u-text-custom-color-17 u-list-icon-7">
                      <svg class="u-svg-content" viewBox="0 0 448.011 448.011" id="svg-b955">
                        <path
                          d="m438.731 209.463-416-192c-6.624-3.008-14.528-1.216-19.136 4.48-4.64 5.696-4.8 13.792-.384 19.648l136.8 182.4-136.8 182.4c-4.416 5.856-4.256 13.984.352 19.648 3.104 3.872 7.744 5.952 12.448 5.952 2.272 0 4.544-.48 6.688-1.472l416-192c5.696-2.624 9.312-8.288 9.312-14.528s-3.616-11.904-9.28-14.528z"
                          fill="currentColor"></path>
                      </svg>
                    </div>Improve the interface of community and add more features so that users interact to a greater
                    degree<br>
                  </li>
                  <li>
                    <div class="u-list-icon u-text-custom-color-17 u-list-icon-8">
                      <svg class="u-svg-content" viewBox="0 0 448.011 448.011" id="svg-b955">
                        <path
                          d="m438.731 209.463-416-192c-6.624-3.008-14.528-1.216-19.136 4.48-4.64 5.696-4.8 13.792-.384 19.648l136.8 182.4-136.8 182.4c-4.416 5.856-4.256 13.984.352 19.648 3.104 3.872 7.744 5.952 12.448 5.952 2.272 0 4.544-.48 6.688-1.472l416-192c5.696-2.624 9.312-8.288 9.312-14.528s-3.616-11.904-9.28-14.528z"
                          fill="currentColor"></path>
                      </svg>
                    </div>Add more diseases to recognize for more real-world use
                  </li>
                  <li>
                    <div class="u-list-icon u-text-custom-color-17 u-list-icon-6">
                      <svg class="u-svg-content" viewBox="0 0 448.011 448.011" id="svg-b955">
                        <path
                          d="m438.731 209.463-416-192c-6.624-3.008-14.528-1.216-19.136 4.48-4.64 5.696-4.8 13.792-.384 19.648l136.8 182.4-136.8 182.4c-4.416 5.856-4.256 13.984.352 19.648 3.104 3.872 7.744 5.952 12.448 5.952 2.272 0 4.544-.48 6.688-1.472l416-192c5.696-2.624 9.312-8.288 9.312-14.528s-3.616-11.904-9.28-14.528z"
                          fill="currentColor"></path>
                      </svg>
                    </div>Train our both machine learning models with bigger and more complex dataset&nbsp;<br>
                  </li>
                  <li>
                    <div class="u-list-icon u-text-custom-color-17 u-list-icon-6">
                      <svg class="u-svg-content" viewBox="0 0 448.011 448.011" id="svg-b955">
                        <path
                          d="m438.731 209.463-416-192c-6.624-3.008-14.528-1.216-19.136 4.48-4.64 5.696-4.8 13.792-.384 19.648l136.8 182.4-136.8 182.4c-4.416 5.856-4.256 13.984.352 19.648 3.104 3.872 7.744 5.952 12.448 5.952 2.272 0 4.544-.48 6.688-1.472l416-192c5.696-2.624 9.312-8.288 9.312-14.528s-3.616-11.904-9.28-14.528z"
                          fill="currentColor"></path>
                      </svg>
                    </div>Add sign-in with Google,Facebook etc options in login funtionality for more convinience&nbsp;
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-custom-color-14 u-section-5" id="sec-305b">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div text-align="center"><h1 class="u-text u-text-custom-color-15 u-text-4">About Us</h1></div>
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-1">
              <div class="u-container-layout u-container-layout-1">
                <img class="u-image u-image-round u-preserve-proportions u-radius-50 u-image-1"
                  src="images/satvik_iot.jpeg" alt="" data-image-width="460" data-image-height="460"
                  data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                <h3 class="u-text u-text-custom-color-15 u-text-1">Satvik Singh</h3>
                <h4 class="u-text u-text-custom-color-17 u-text-2">National Institute of Technology, Karnataka</h4>
                <!-- <p class="u-text u-text-custom-color-8 u-text-3">Worked on the front-end and the design of the app,
                  trained and implemented the both classification models, worked in integrating the front-end with
                  backend. Made the chatbot.</p> -->
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-1">
              <div class="u-container-layout u-container-layout-1">
                <img class="u-image u-image-round u-preserve-proportions u-radius-50 u-image-1"
                  src="images/aditya_iot.jpeg" alt="" data-image-width="460" data-image-height="460"
                  data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                <h3 class="u-text u-text-custom-color-15 u-text-1">Aditya R rudra</h3>
                <h4 class="u-text u-text-custom-color-17 u-text-2">National Institute of Technology, Karnataka</h4>
                <!-- <p class="u-text u-text-custom-color-8 u-text-3">Worked on the front-end and the design of the app,
                  trained and implemented the both classification models, worked in integrating the front-end with
                  backend. Made the chatbot.</p> -->
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-3">
              <div class="u-container-layout u-container-layout-1">
                <img class="u-image u-image-round u-preserve-proportions u-radius-50 u-image-1"
                  src="images/rajat_iot.jpeg" alt="" data-image-width="460" data-image-height="460"
                  data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                <h3 class="u-text u-text-custom-color-15 u-text-1">Rajat Partani</h3>
                <h4 class="u-text u-text-custom-color-17 u-text-2">National Institute of Technology, Karnataka</h4>
                <!-- <p class="u-text u-text-custom-color-8 u-text-3">Worked on the front-end and the design of the app,
                  trained and implemented the both classification models, worked in integrating the front-end with
                  backend. Made the chatbot.</p> -->
              </div>
            </div>
            <br>
          </div>
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-4">
              <div class="u-container-layout u-container-layout-1">
                <img class="u-image u-image-round u-preserve-proportions u-radius-50 u-image-1"
                  src="images/ritik_iot.jpeg" alt="" data-image-width="460" data-image-height="460"
                  data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                <h3 class="u-text u-text-custom-color-15 u-text-1">Ritik Kumar</h3>
                <h4 class="u-text u-text-custom-color-17 u-text-2">National Institute of Technology, Karnataka</h4>
                <!-- <p class="u-text u-text-custom-color-8 u-text-3">Worked on the front-end and the design of the app,
                  trained and implemented the both classification models, worked in integrating the front-end with
                  backend. Made the chatbot.</p> -->
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-5">
              <div class="u-container-layout u-container-layout-1">
                <img class="u-image u-image-round u-preserve-proportions u-radius-50 u-image-1"
                  src="images/saurabh_iot.jpeg" alt="" data-image-width="460" data-image-height="460"
                  data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                <h3 class="u-text u-text-custom-color-15 u-text-1">Saurabh Mokashi</h3>
                <h4 class="u-text u-text-custom-color-17 u-text-2">National Institute of Technology, Karnataka</h4>
                <!-- <p class="u-text u-text-custom-color-8 u-text-3">Worked on the front-end and the design of the app,
                  trained and implemented the both classification models, worked in integrating the front-end with
                  backend. Made the chatbot.</p> -->
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-6">
              <div class="u-container-layout u-container-layout-1">
                <img class="u-image u-image-round u-preserve-proportions u-radius-50 u-image-1"
                  src="images/harsha_iot.jpeg" alt="" data-image-width="460" data-image-height="460"
                  data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                <h3 class="u-text u-text-custom-color-15 u-text-1">Thota Sree Harsha</h3>
                <h4 class="u-text u-text-custom-color-17 u-text-2">National Institute of Technology, Karnataka</h4>
                <!-- <p class="u-text u-text-custom-color-8 u-text-3">Worked on the front-end and the design of the app,
                  trained and implemented the both classification models, worked in integrating the front-end with
                  backend. Made the chatbot.</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <footer class="u-clearfix u-custom-color-14 u-footer u-footer" id="sec-ea37">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div
        class="u-clearfix u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-expanded-width-xs u-gutter-30 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-60 u-layout-cell-1">
              <div class="u-container-layout u-container-layout-1">
                <h6 class="u-text u-text-custom-color-15 u-text-1">2023 FloraCare</h6>
                <p class="u-small-text u-text u-text-custom-color-15 u-text-2">This project is still under construction
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="u-social-icons u-spacing-10 u-social-icons-1">
        <a class="u-social-url" target="_blank" href=""><span
            class="u-icon u-icon-circle u-social-facebook u-social-icon u-icon-1"><svg class="u-svg-link"
              preserveAspectRatio="xMidYMin slice" viewBox="0 0 112.2 112.2" style="undefined">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-ccca"></use>
            </svg><svg x="0px" y="0px" viewBox="0 0 112.2 112.2" enable-background="new 0 0 112.2 112.2"
              xml:space="preserve" id="svg-ccca" class="u-svg-content">
              <path
                d="M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2 c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z">
              </path>
            </svg></span>
        </a>
        <a class="u-social-url" target="_blank" href=""><span
            class="u-icon u-icon-circle u-social-icon u-social-twitter u-icon-2"><svg class="u-svg-link"
              preserveAspectRatio="xMidYMin slice" viewBox="0 0 112.2 112.2" style="undefined">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5866"></use>
            </svg><svg x="0px" y="0px" viewBox="0 0 112.2 112.2" enable-background="new 0 0 112.2 112.2"
              xml:space="preserve" id="svg-5866" class="u-svg-content">
              <path
                d="M92.2,38.2c0,0.8,0,1.6,0,2.3c0,24.3-18.6,52.4-52.6,52.4c-10.6,0.1-20.2-2.9-28.5-8.2 c1.4,0.2,2.9,0.2,4.4,0.2c8.7,0,16.7-2.9,23-7.9c-8.1-0.2-14.9-5.5-17.3-12.8c1.1,0.2,2.4,0.2,3.4,0.2c1.6,0,3.3-0.2,4.8-0.7 c-8.4-1.6-14.9-9.2-14.9-18c0-0.2,0-0.2,0-0.2c2.5,1.4,5.4,2.2,8.4,2.3c-5-3.3-8.3-8.9-8.3-15.4c0-3.4,1-6.5,2.5-9.2 c9.1,11.1,22.7,18.5,38,19.2c-0.2-1.4-0.4-2.8-0.4-4.3c0.1-10,8.3-18.2,18.5-18.2c5.4,0,10.1,2.2,13.5,5.7c4.3-0.8,8.1-2.3,11.7-4.5 c-1.4,4.3-4.3,7.9-8.1,10.1c3.7-0.4,7.3-1.4,10.6-2.9C98.9,32.3,95.7,35.5,92.2,38.2z">
              </path>
            </svg></span>
        </a>
        <a class="u-social-url" target="_blank" href=""><span
            class="u-icon u-icon-circle u-social-icon u-social-instagram u-icon-3"><svg class="u-svg-link"
              preserveAspectRatio="xMidYMin slice" viewBox="0 0 112.2 112.2" style="undefined">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a39c"></use>
            </svg><svg x="0px" y="0px" viewBox="0 0 112.2 112.2" enable-background="new 0 0 112.2 112.2"
              xml:space="preserve" id="svg-a39c" class="u-svg-content">
              <path
                d="M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z">
              </path>
              <path d="M79.7,26.8c-3,0-5.4,2.5-5.4,5.4s2.5,5.4,5.4,5.4c3,0,5.4-2.5,5.4-5.4S82.7,26.8,79.7,26.8z"></path>
              <path
                d="M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7 V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7 c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z">
              </path>
            </svg></span>
        </a>
        <a class="u-social-url" target="_blank" href=""><span
            class="u-icon u-icon-circle u-social-icon u-social-linkedin u-icon-4"><svg class="u-svg-link"
              preserveAspectRatio="xMidYMin slice" viewBox="0 0 112.2 112.2" style="undefined">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f4f0"></use>
            </svg><svg x="0px" y="0px" viewBox="0 0 112.2 112.2" enable-background="new 0 0 112.2 112.2"
              xml:space="preserve" id="svg-f4f0" class="u-svg-content">
              <path
                d="M33.8,96.8H14.5v-58h19.3V96.8z M24.1,30.9L24.1,30.9c-6.6,0-10.8-4.5-10.8-10.1c0-5.8,4.3-10.1,10.9-10.1 S34.9,15,35.1,20.8C35.1,26.4,30.8,30.9,24.1,30.9z M103.3,96.8H84.1v-31c0-7.8-2.7-13.1-9.8-13.1c-5.3,0-8.5,3.6-9.9,7.1 c-0.6,1.3-0.6,3-0.6,4.8V97H44.5c0,0,0.3-52.6,0-58h19.3v8.2c2.6-3.9,7.2-9.6,17.4-9.6c12.7,0,22.2,8.4,22.2,26.1V96.8z">
              </path>
            </svg></span>
        </a>
      </div>
    </div>
  </footer>
</body>

</html>