<center>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="">
      <h1>What would you like to do?</h1>
      <div class="">
        <form action = '/journal/create' method = 'GET'>
        <button class="btn" type="submit" name="button">Write a Journal</button>
        </form>
      </div>
      <div class="">
        <form action = '/journal/getAll' method = 'GET'>
        <button class="btn" type="submit" name="button">Community</button>
        </form>
      </div>
    </div>
  </body>
</html>
