<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>main-page</title>
    <link rel="stylesheet" href="css/nicepage.css" media="screen">
<link rel="stylesheet" href="css/main-page.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">


    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "SurfMate",
		"sameAs": []
}</script>
    <meta property="og:title" content="main-page">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#0d13c3">
  </head>
  <body class="u-body"><header class="u-clearfix u-custom-color-14 u-header u-header" id="sec-c8ea"><div class="u-align-left u-clearfix u-sheet u-sheet-1">
        <h3 class="u-align-left u-headline u-text u-text-custom-color-15 u-text-1">
          <a href="/">
            <br>
          </a>
        </h3>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="text-transform: uppercase;">
            <a class="u-btn-text u-button-style u-custom-text-color u-custom-text-hover-color u-nav-link" href="#" style="padding: 4px 0px; font-size: calc(1em + 8px);">
              <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style="undefined"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a760"></use></svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-a760" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-25 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-custom-color-15 u-text-hover-custom-color-17" href="landing-page.html">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-custom-color-15 u-text-hover-custom-color-17" href="landing-page.html#sec-c70c" data-page-id="455759">Description</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-custom-color-15 u-text-hover-custom-color-17" href="landing-page.html#sec-305b" data-page-id="455759">About</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="landing-page.html">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="landing-page.html#sec-c70c" data-page-id="455759">Description</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="landing-page.html#sec-305b" data-page-id="455759">About</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-align-center u-clearfix u-custom-color-14 u-section-1" id="sec-5002">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-custom-color-15 u-text-default u-text-1">What would you like to do?</h1>
        <div class="u-expanded-width u-layout-grid u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-left u-container-style u-custom-color-14 u-list-item u-repeater-item u-shape-rectangle u-list-item-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
              <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-icon u-icon-circle u-text-custom-color-17 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-b310"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-b310" style="enable-background:new 0 0 512 512;"><g><g><path d="M498.791,161.127c-17.545-17.546-46.094-17.545-63.645,0.004c-5.398,5.403-39.863,39.896-45.128,45.166V87.426    c0-12.02-4.681-23.32-13.181-31.819L334.412,13.18C325.913,4.68,314.612,0,302.592,0H45.018c-24.813,0-45,20.187-45,45v422    c0,24.813,20.187,45,45,45h300c24.813,0,45-20.187,45-45V333.631L498.79,224.767C516.377,207.181,516.381,178.715,498.791,161.127    z M300.019,30c2.834,0,8.295-0.491,13.18,4.393l42.426,42.427c4.76,4.761,4.394,9.978,4.394,13.18h-60V30z M360.018,467    c0,8.271-6.728,15-15,15h-300c-8.271,0-15-6.729-15-15V45c0-8.271,6.729-15,15-15h225v75c0,8.284,6.716,15,15,15h75v116.323    c0,0-44.254,44.292-44.256,44.293l-21.203,21.204c-1.646,1.646-2.888,3.654-3.624,5.863l-21.214,63.64    c-1.797,5.39-0.394,11.333,3.624,15.35c4.023,4.023,9.968,5.419,15.35,3.624l63.64-21.213c2.209-0.736,4.217-1.977,5.863-3.624    l1.82-1.82V467z M326.378,312.427l21.213,21.213l-8.103,8.103l-31.819,10.606l10.606-31.82L326.378,312.427z M368.8,312.422    l-21.213-21.213c11.296-11.305,61.465-61.517,72.105-72.166l21.213,21.213L368.8,312.422z M477.573,203.558l-15.463,15.476    l-21.213-21.213l15.468-15.481c5.852-5.849,15.366-5.848,21.214,0C483.426,188.19,483.457,197.673,477.573,203.558z"></path>
</g>
</g><g><g><path d="M285.018,150h-210c-8.284,0-15,6.716-15,15s6.716,15,15,15h210c8.284,0,15-6.716,15-15S293.302,150,285.018,150z"></path>
</g>
</g><g><g><path d="M225.018,210h-150c-8.284,0-15,6.716-15,15s6.716,15,15,15h150c8.284,0,15-6.716,15-15S233.302,210,225.018,210z"></path>
</g>
</g><g><g><path d="M225.018,270h-150c-8.284,0-15,6.716-15,15s6.716,15,15,15h150c8.284,0,15-6.716,15-15S233.302,270,225.018,270z"></path>
</g>
</g><g><g><path d="M225.018,330h-150c-8.284,0-15,6.716-15,15s6.716,15,15,15h150c8.284,0,15-6.716,15-15S233.302,330,225.018,330z"></path>
</g>
</g><g><g><path d="M285.018,422h-90c-8.284,0-15,6.716-15,15s6.716,15,15,15h90c8.284,0,15-6.716,15-15S293.302,422,285.018,422z"></path>
</g>
</g></svg>


          </span>
                <h3 class="u-text u-text-custom-color-15 u-text-2">Journal</h3>
                <p class="u-text u-text-custom-color-8 u-text-3">Write records for your plants for reference and access other people's records to learn :)</p>
                <a href="/journal" class="u-border-2 u-border-custom-color-17 u-border-hover-custom-color-17 u-btn u-btn-round u-button-style u-hover-custom-color-17 u-none u-radius-20 u-text-custom-color-17 u-text-hover-white u-btn-1">Get started</a>
              </div>
            </div>
            <div class="u-align-left u-container-style u-custom-color-14 u-list-item u-repeater-item u-shape-rectangle u-list-item-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
              <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-icon u-icon-circle u-text-custom-color-17 u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 511.993 511.993" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f7be"></use></svg><svg class="u-svg-content" viewBox="0 0 511.993 511.993" id="svg-f7be"><path d="m306.918 236.089c18.921 0 37.852-3.69 55.891-11.074 36.47-14.927 64.944-43.163 80.178-79.506 3.202-7.64-.395-16.43-8.036-19.632-42.9-17.981-89.587-14.079-127.587 6.578 7.318-45.239-6.418-93.255-41.226-128.062-5.858-5.858-15.355-5.858-21.213 0-27.865 27.864-43.211 64.912-43.211 104.319 0 7.772.606 15.45 1.778 22.986-4.337-2.347-8.814-4.493-13.422-6.425-36.343-15.234-76.442-15.403-112.913-.476-7.667 3.138-11.338 11.897-8.201 19.564 23.353 57.057 78.574 91.649 136.724 91.649 11.629 0 23.379-1.385 35.013-4.251v45.832h-123.732c-13.166 0-25.248 6.041-33.148 16.573s-10.318 23.822-6.633 36.462l7.469 25.62c5.122 17.57 21.48 29.841 39.782 29.841h2.943l13.382 95.408c2.438 17.387 17.516 30.499 35.074 30.499h159.408c17.557 0 32.635-13.111 35.074-30.498l13.381-95.408h2.943c18.301 0 34.66-12.271 39.782-29.84l7.469-25.621c3.685-12.64 1.267-25.93-6.633-36.462s-19.982-16.573-33.148-16.573h-123.411v-46.072c11.914 3.044 24.067 4.569 36.223 4.569zm33.683 241.239c-.373 2.66-2.679 4.665-5.365 4.665h-159.408c-2.686 0-4.992-2.005-5.365-4.665l-12.797-91.241h195.732zm62.651-165.162c2.181 2.907 2.848 6.575 1.831 10.064l-7.469 25.62c-1.414 4.85-5.93 8.237-10.981 8.237h-262.203c-5.051 0-9.566-3.387-10.98-8.237l-7.469-25.62c-1.017-3.489-.35-7.158 1.832-10.064 2.181-2.907 5.515-4.575 9.149-4.575h277.141c3.634 0 6.968 1.668 9.149 4.575zm4.843-163.827c-12.951 21.992-32.623 39.079-56.649 48.912-24.028 9.835-50.031 11.445-74.687 4.842.888-1.503 1.81-2.976 2.757-4.427 1.864-2.463 3.647-4.967 5.336-7.516 28.553-37.006 77.249-54.063 123.243-41.811zm-152.563-110.573c30.041 39.621 31.579 94.079 4.659 135.242-1.546 2.046-3.041 4.142-4.487 6.283-2.127-3.194-4.376-6.292-6.735-9.296-24.923-40.779-22.75-93.567 6.563-132.229zm-95.472 159.106c-23.943-10.036-43.47-27.288-56.235-49.388 44.855-11.544 92.025 4.695 120.555 39.897 2.685 4.243 5.6 8.36 8.732 12.341.535.87 1.078 1.733 1.592 2.62-24.707 6.392-50.701 4.566-74.644-5.47z"></path></svg>


          </span>
                <h3 class="u-text u-text-custom-color-15 u-text-4">WaterMe</h3>
                <p class="u-text u-text-custom-color-8 u-text-5">Reminder to water your plants and take care of them, connected to your sensor</p>
                <a href="/not-watered" data-page-id="75203120" class="u-border-2 u-border-custom-color-17 u-border-hover-custom-color-17 u-btn u-btn-round u-button-style u-hover-custom-color-17 u-none u-radius-20 u-text-custom-color-17 u-text-hover-white u-btn-2">get started</a>
              </div>
            </div>
            <div class="u-align-left u-container-style u-custom-color-14 u-list-item u-repeater-item u-shape-rectangle u-list-item-3" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
              <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-icon u-icon-circle u-text-custom-color-17 u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8ef3"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-8ef3"><g><path d="m458.069 0h-58.233c-28.353 0-55.578 10.42-76.66 29.342-3.083 2.767-3.338 7.509-.572 10.591s7.509 3.339 10.591.572c18.325-16.447 41.992-25.505 66.64-25.505h54.07v3.641c0 55.035-44.774 99.809-99.808 99.809h-37.817l69.292-48.601c3.391-2.378 4.212-7.056 1.833-10.447-2.378-3.392-7.056-4.211-10.447-1.833l-76.877 53.921c.532-16.014 4.908-31.715 12.737-45.607 2.034-3.608.757-8.183-2.852-10.216-3.608-2.035-8.183-.756-10.216 2.852-9.633 17.093-14.725 36.558-14.725 56.29v7.386c-33.025 25.291-52.58 64.685-52.58 106.487v1.132c-3.305-4.235-7.106-8.114-11.355-11.541v-7.047c0-61.244-49.826-111.07-111.07-111.07h-11.043c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h11.042c51.728 0 94.039 41.095 95.999 92.353l-73.77-51.742c-3.392-2.377-8.067-1.559-10.447 1.833-2.378 3.391-1.558 8.068 1.833 10.447l66.201 46.433h-35.672c-52.973 0-96.07-43.097-96.07-96.07v-3.253h5.883c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5h-10.045c-5.976 0-10.837 4.861-10.837 10.837v7.417c0 61.245 49.826 111.07 111.07 111.07h56.919c13.429 10.533 21.361 26.728 21.361 43.899v78.958c-3.104-3.747-6.645-7.166-10.579-10.173v-2.108c0-35.687-29.033-64.72-64.72-64.72h-29.494c-5.976 0-10.837 4.861-10.837 10.837v2.604c0 35.687 29.033 64.72 64.72 64.72h30.443c12.836 9.423 20.467 24.45 20.467 40.415v53.015c-8.714 1.126-17.047 4.21-24.435 9.085-1.997 1.317-4.454 1.867-6.916 1.549-2.017-.261-4.076-.393-6.119-.393-12.421 0-24.158 4.775-33.048 13.447-8.874 8.655-13.94 20.237-14.268 32.613-.061 2.288.822 4.541 2.421 6.183 1.603 1.646 3.839 2.59 6.135 2.59h92.268c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5h-84.982c3.347-14.354 16.099-24.833 31.475-24.833 1.403 0 2.814.09 4.195.269 6.027.779 12.101-.607 17.101-3.904 7.027-4.637 15.213-7.087 23.674-7.087 11.736 0 22.704 4.637 30.884 13.058 5.545 5.708 13.484 8.511 21.233 7.501.975-.127 1.975-.192 2.972-.192 9.94 0 18.358 6.29 21.437 15.188h-32.988c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h40.665c2.31 0 4.555-.953 6.16-2.615 1.6-1.657 2.472-3.924 2.392-6.224-.714-20.383-17.259-36.35-37.666-36.35-1.644 0-3.297.107-4.913.318-3.08.401-6.269-.749-8.533-3.079-9.266-9.538-21.185-15.475-34.143-17.13v-128.815c0-15.562 7.606-30.188 20.347-39.125l1.544-1.083h40.109c44.957 0 81.532-36.575 81.532-81.532v-4.349c0-5.976-4.861-10.837-10.837-10.837h-39.14c-44.957 0-81.531 36.575-81.531 81.532v3.786l-.29.203c-4.396 3.083-8.327 6.683-11.734 10.685v-48.704c0-37.489 17.708-72.797 47.563-95.232h59.09c63.305 0 114.808-51.503 114.808-114.809v-7.804c0-5.977-4.862-10.838-10.837-10.838zm-326.23 290.335h25.307c24.321 0 44.62 17.555 48.892 40.659l-34.684-24.327c-3.391-2.377-8.068-1.559-10.447 1.833-2.378 3.391-1.558 8.068 1.833 10.447l27.872 19.549h-9.078c-26.893 0-48.868-21.464-49.695-48.161zm209.161-94.154h34.978v.186c0 36.686-29.846 66.532-66.532 66.532h-18.723l41.773-29.299c3.391-2.378 4.212-7.056 1.833-10.447-2.378-3.392-7.056-4.211-10.447-1.833l-49.049 34.402c3.505-33.412 31.842-59.541 66.167-59.541z"></path>
</g></svg>


          </span>
                <h3 class="u-text u-text-custom-color-15 u-text-6">Plant Detection</h3>
                <p class="u-text u-text-custom-color-8 u-text-7">Detect a plant by taking it's photo and return it's information, family, health etc</p>
                <a href="/plantDetails" class="u-border-2 u-border-custom-color-17 u-border-hover-custom-color-17 u-btn u-btn-round u-button-style u-hover-custom-color-17 u-none u-radius-20 u-text-custom-color-17 u-text-hover-white u-btn-3">Get started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <footer class="u-clearfix u-custom-color-14 u-footer u-footer" id="sec-ea37"><div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-expanded-width-xs u-gutter-30 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-60 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <h6 class="u-text u-text-custom-color-15 u-text-1">2021 FloraCare</h6>
                  <p class="u-small-text u-text u-text-custom-color-15 u-text-2">This project is still under construction</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-social-icons u-spacing-10 u-social-icons-1">
          <a class="u-social-url" target="_blank" href=""><span class="u-icon u-icon-circle u-social-facebook u-social-icon u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112.2 112.2" style="undefined"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-ccca"></use></svg><svg x="0px" y="0px" viewBox="0 0 112.2 112.2" enable-background="new 0 0 112.2 112.2" xml:space="preserve" id="svg-ccca" class="u-svg-content"><path d="M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2 c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z"></path></svg></span>
          </a>
          <a class="u-social-url" target="_blank" href=""><span class="u-icon u-icon-circle u-social-icon u-social-twitter u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112.2 112.2" style="undefined"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5866"></use></svg><svg x="0px" y="0px" viewBox="0 0 112.2 112.2" enable-background="new 0 0 112.2 112.2" xml:space="preserve" id="svg-5866" class="u-svg-content"><path d="M92.2,38.2c0,0.8,0,1.6,0,2.3c0,24.3-18.6,52.4-52.6,52.4c-10.6,0.1-20.2-2.9-28.5-8.2 c1.4,0.2,2.9,0.2,4.4,0.2c8.7,0,16.7-2.9,23-7.9c-8.1-0.2-14.9-5.5-17.3-12.8c1.1,0.2,2.4,0.2,3.4,0.2c1.6,0,3.3-0.2,4.8-0.7 c-8.4-1.6-14.9-9.2-14.9-18c0-0.2,0-0.2,0-0.2c2.5,1.4,5.4,2.2,8.4,2.3c-5-3.3-8.3-8.9-8.3-15.4c0-3.4,1-6.5,2.5-9.2 c9.1,11.1,22.7,18.5,38,19.2c-0.2-1.4-0.4-2.8-0.4-4.3c0.1-10,8.3-18.2,18.5-18.2c5.4,0,10.1,2.2,13.5,5.7c4.3-0.8,8.1-2.3,11.7-4.5 c-1.4,4.3-4.3,7.9-8.1,10.1c3.7-0.4,7.3-1.4,10.6-2.9C98.9,32.3,95.7,35.5,92.2,38.2z"></path></svg></span>
          </a>
          <a class="u-social-url" target="_blank" href=""><span class="u-icon u-icon-circle u-social-icon u-social-instagram u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112.2 112.2" style="undefined"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a39c"></use></svg><svg x="0px" y="0px" viewBox="0 0 112.2 112.2" enable-background="new 0 0 112.2 112.2" xml:space="preserve" id="svg-a39c" class="u-svg-content"><path d="M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z"></path><path d="M79.7,26.8c-3,0-5.4,2.5-5.4,5.4s2.5,5.4,5.4,5.4c3,0,5.4-2.5,5.4-5.4S82.7,26.8,79.7,26.8z"></path><path d="M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7 V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7 c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z"></path></svg></span>
          </a>
          <a class="u-social-url" target="_blank" href=""><span class="u-icon u-icon-circle u-social-icon u-social-linkedin u-icon-4"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112.2 112.2" style="undefined"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f4f0"></use></svg><svg x="0px" y="0px" viewBox="0 0 112.2 112.2" enable-background="new 0 0 112.2 112.2" xml:space="preserve" id="svg-f4f0" class="u-svg-content"><path d="M33.8,96.8H14.5v-58h19.3V96.8z M24.1,30.9L24.1,30.9c-6.6,0-10.8-4.5-10.8-10.1c0-5.8,4.3-10.1,10.9-10.1 S34.9,15,35.1,20.8C35.1,26.4,30.8,30.9,24.1,30.9z M103.3,96.8H84.1v-31c0-7.8-2.7-13.1-9.8-13.1c-5.3,0-8.5,3.6-9.9,7.1 c-0.6,1.3-0.6,3-0.6,4.8V97H44.5c0,0,0.3-52.6,0-58h19.3v8.2c2.6-3.9,7.2-9.6,17.4-9.6c12.7,0,22.2,8.4,22.2,26.1V96.8z"></path></svg></span>
          </a>
        </div>
      </div></footer>
	  <script type="text/javascript">
    (function(d, m){
        var kommunicateSettings = 
            {"appId":"e283bd183d54e4f5cf08e0c4b348797f","popupWidget":true,"automaticChatOpenOnNavigation":true};
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
/* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
</script>
  </body>
</html>
