<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Result</title>
  </head>
  <body style="background-color:#d6ffd4; margin-left:100px;">
    <h1 style="color:#b24747;">Result</h1>
    <form class="" action="index.html" method="post">
      <label for="fname" style="color:#f59494">Plant Name:</label>
      <br>
      <input type="text" id="fname" name="fname" style="background-color:#d6ffd4"><br><br>
      <label for="fname" style="color:#f59494">Plant Description:</label>
      <br>
      <textarea name="message" rows="10" cols="30" style="background-color:#d6ffd4"></textarea>
    <br><br>
    </form>
    <form class="" action="index.html" method="post">
      <label for="fname" style="color:#f59494">Disease Name:</label>
      <br>
      <input type="text" id="fname" name="fname" style="background-color:#d6ffd4"><br><br>
      <label for="fname" style="color:#f59494">Plant Description:</label>
      <br>
      <textarea name="message" rows="30" cols="60" style="background-color:#d6ffd4"></textarea>
    <br><br>
    <label for="fname" style="color:#f59494">Treatment:</label>
    <br>
    <textarea name="message" rows="30" cols="60" style="background-color:#d6ffd4"></textarea>
  <br><br>
    </form>
  </body>
</html>
