<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Journals</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <h1>Plant Records</h1>
    <table class="table table-bordered">
  <tbody>
    <tr>
      <th width="5%" scope="row">1</th>
      <td><h2 class="journal-title">Journal Title</h2>
      <h4 class="plant-name">Plant Name</h4></td>
      <td width="20%"><h3 class="author-name">Author Name</h3></td>
    </tr>
  </tbody>
</table>
  </body>
</html>
